<div class="col-md-6">

<%= @count %>

<h1>Smart Shop Complete!</h1>

</br>

<h1>Result: </h1> 

</br>



<% @result.each do |r| %>

<h3><%= Product.find(r.product_id).name %>&nbsp <%= Product.find(r.product_id).label %>&nbsp<%= Product.find(r.product_id).package %>&nbsp <%= Market.find(r.market_id).group %>&nbsp<%= Market.find(r.market_id).address %>&nbsp<%= r.price %></h3></br>

<% end %>

<h3>il totale che pagherai è: <%= @sum %></h3>

sottoinsiemi di market considerati </br>

cardinalità dell'insieme = <%= @cardinal %>

<% @markets_subsets.each do |r| %>

<% r.each do |t| %>

<%= t.group %> &nbsp <%=t.address%></br>

<% end %>

</br>
</br>

<% end %>





</br>

<%= link_to "Click here for a new Shop", user_path(current_user) %> 

</div>
