<% provide(:title, "CompileYourShoppingList") %>
<h2>COMPILE YOUR SHOPPING LIST</h2>

<%= session[:range] %>
<%= session[:address] %>

<%= form_for @request do |f| %>


    <%= f.label :prodotto %><br>
    <%= f.select :product_id, @products.map { |c| [c.name+" "+c.label+" "+c.package, c.id] } %>
 
    <%= f.hidden_field :shopper_id, value: session[:list_id] %>
 
    <%= f.submit "add product", class: "btn btn-primary" %>

<%end%>

<div class="col-md-3">

<% @list_requests.each do |r| %>

<%= r.product.name %>&nbsp <%= r.product.label %> &nbsp<%= r.product.package %> </br>

<% end %>

</div>

<div class="col-md-3">

<% @list_requests.each do |r| %>

 <%= link_to "delete", r, method: :delete,
                                  data: { confirm: "You sure?" } %> </br>

<% end %>



inserisci il numero di supermercati che vuoi visitare </br>

<%= form_for(:session, url: links_third_check_path, :method => "post") do |f| %>

<%= f.label :supermercati %></br>
<%= f.number_field :count, class: 'form-control' %></br>
<%= f.submit "Go to smart shopping", class: "btn btn-primary" %>
<% end %>

</div>


