<li id="micropost-<%= micropost.id %>">
<span class="user"><%= micropost.user.name %> <%= micropost.user.surname %></span>
<span class="content">"<%= micropost.content %>"</span>
<span class="vote">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp vote:<%= micropost.vote %>/5</span>
<span class="timestamp">
Posted <%= time_ago_in_words(micropost.created_at) %> ago.
</span>
<span class="report">
<%= form_for(:session, url: report_path) do |f| %>
<%= f.hidden_field :user_id, value: micropost.user.id %>
<%= f.hidden_field :micropost_id, value: micropost.id %>
<%= f.submit "report", class: "btn btn-link",  data: { confirm: "ARE YOU SURE?" , disable_with: "Please wait..." } %></br>
<%end%>
</span>
</li>




